# Python
__pycache__/
*.pyc

# VS Code
.vscode/

# SQL Server
*.ldf
*.mdf

# Logs
*.log

# OS files
Thumbs.db
.DS_Store

# Ignore business requirements files
BusinessRequirements/FutureIdeas/BRs_bootcamp.md
BusinessRequirements/FutureIdeas/trial.sql

# Ignore Uncompleted files or Folders
BusinessRequirements/FutureIdeas